.popular {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 0;

  .popularMovies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0.5rem;
    width: 200px;
    

    img {
      height: 100%;
      cursor: pointer;
      width: 100%;
      object-fit: cover;
      border-radius:6px;
    }
    p {
      color: #eee;
      font-family: "Montserrat";
      margin: 1rem 0;
    }
    button {
      padding: 1rem 4.77rem;
      
      cursor: pointer;
      margin-bottom: 2rem;
      width: 100%;
      background: rgb(169, 219, 221);
      text-transform: uppercase;
      border: none;
      outline: none;
    }
  }
}

@media (max-width: 960px) {
  .popular {
    width: 100%;
    justify-content: center;
    .popularMovies {
      width: 250px;
      margin: 1rem 1rem;
      p {
        display: none;
      }
    }
  }
}

@media (max-width: 960px) {
  .popular {
    width: 100%;
    justify-content: center;
    .popularMovies {
      width: 200px;
      margin: 1rem 1rem;
      p {
        display: none;
      }
    }
  }
}

@media (max-width: 680px) {
  .popular {
    .popularMovies {
      width: 150px;
    }
  }
}

@media (max-width: 499px) {
  .popular {
    .popularMovies {
      width: 190px;
    }
  }
}

@media (max-width: 415px) {
  .popular {
    .popularMovies {
      width: 310px;
    }
  }
}
