.movieDetail {
  height: 87vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  &::after {
    content: "";
    background: rgba(80, 77, 77, 0.534);
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .vieosIframe {
    position: absolute;
    z-index: 2;
    width: 35%;
    right: 2rem;
    transition: 250ms ease-in-out;
    transform: translate(0%, -50%);
    top: 50%;
  }
  .openTrailer {
    display: none;
  }
  .poster {
    top: 50%;
    left: 15%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translate(-15%, -50%);

    h1 {
      font-family: "ubuntu";
      color: #fff;
      margin: 0 2rem;
      pointer-events: none;
      padding: 1rem 5rem;
      margin-bottom: 2rem;
      background: #666;
    }
    img {
      height: 500px;
    }
  }
  .details {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 2rem;
    flex-direction: column;
    span {
      padding: 0.4rem 0;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0.1rem 0;
      font-weight: bold;
    }
  }
}

@media (max-width: 879px) {
  .movieDetail {
    height: 100vh;
    background: rgba(80, 77, 77, 0.534);
    position: relative;
    .vieosIframe {
      width: 80%;
      top: 42%;
    }
    .poster {
      margin-top: 2rem;
      left: 0;
      h1 {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 685px) {
  .poster {
    flex-direction: column;
    left: 50%;
    transform: translate(-50%);
    img {
      width: 200px;
      display: none;
    }
  }
}




.genree{
  display: flex;
  flex-flow: wrap;
  flex-direction:row;
}

.cascade{
  background:#EAEAEA;
  height:100%;
  margin-top: 20px;
  padding-top: 20px;
  border-radius: 10px;
}


.title1{
background: rgb(71,73,77);
background: linear-gradient(155deg, rgba(71,73,77,1) 0%, rgba(139,146,159,1) 36%, rgba(197,199,203,1) 75%, rgba(255,255,255,1) 100%);
  width: 100%;
  height: 50%;
  font-family:fantasy;
  
} 

.ctb{
  border-bottom: 1px solid #5F5E5E;
  padding-bottom: 10px;
}

.vide{
  display: block;
}

.bihc{
  display: grid;
  grid-template-columns: 1fr 1fr 20px ;

 column-gap: 3px;

}
