.navbar {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(20,24,28);
  position: relative;
  
  z-index: 500;
  .logo a {
    font-size: 2rem;
    text-decoration: none;
    color: #eee;
    padding-left:10px;
  }
  .bars {
    display: none;
  }
  .bars i {
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
    color: #eee;
    padding: 1rem;
  }
  .search {
    padding: 1rem;
    color: #eee;
    cursor: pointer;
    margin-right: 2rem;
    i {
      display: inline-block;
      font-size: 1.2rem;
    }
  }
  .navigation {
    display: flex;
    margin-left: auto;
  }
  .navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      a {
        padding: 1rem;
        text-decoration: none;
        color: #ddd;
        font-family: "Montserrat";
        display: block;
        text-transform: uppercase;
        &.active {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 1s ease-in-out all;
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            background: #eee;
            height: 3px;
            bottom: -0.7rem;
            border-radius: 10px;
            transform-origin: center;
            transition: 550ms ease-in-out all;
          }
        }
      }
    }
  }
}

.overlay {
  position: absolute;
  background: rgba(160, 157, 157, 0.562);
  bottom: 0;
  top: 0;
  left: 0;
  display: none;
  right: 0;
}

@media (max-width: 477px) {
  .navbar {
    position: relative;
    z-index: 1000;
    padding: 1rem;
    .bars {
      display: block;
    }
    .navigation {
      display: none;
      z-index: 2;
      border-bottom: 2px solid #eee;
      border-left: 2px solid #eee;
      position: absolute;
      top: 100%;
      right: 0;
      background: #666;
      ul {
        flex-direction: column;
        li {
          a {
            &.active {
              &::after {
                width: 0;
              }
            }
          }
        }
      }
    }
    .open-nav {
      display: block;
    }
  }
}
